<div class="row">
  <%= render 'shared/info_user', user: current_user %>
  <div class="col s12 m6">
    <div class="card card-twitter">
      <div class="card-content">

        <div class="card-tabs">
          <ul class="tabs center">
            <li class="tab">
              <a class="active" href="#tweets">Tweets <p class="text-center"><%= @tweets.count %></p></a>
            </li>
            <li class="tab">
              <a href="#users">Users <p class="text-center"><%= @users.count %></p></a>
            </li>
          </ul>
        </div>
        <div class="card-content tweets-card-content">
          <%= render 'shared/tweets', tweets: @tweets, tab_id: 'tweets'  %>
          <%= render 'shared/relationships', users: @users, tab_id: 'users' %>
        </div>
      </div>

      <div style="display: none" class="card-action">
        <a href="#">Carregar mais</a>
      </div>
    </div>
  </div>

  <%= render 'shared/hashtags_cloud' %>

</div>
