<div class="col m3 hide-on-small-only">
  <div class="card card-user">
    <div class="card-content">
      <div class="row center">
        <%= gravatar_image_tag user.email, class: "profile-pic circle" %>
      </div>
      <div class="row center">
        <p class="profile-name"><%= user.full_name %></p>
        <% if current_user.id == user.id %>
            <p class="profile-username">
              <%= link_to edit_user_registration_path do %>
                  @<%= user.username %> <i class="material-icons dp48">edit</i>
              <% end %>
            </p>
            <%= link_to 'Tweet', new_tweet_path, class: "btn halfway-fab waves-effect waves-light modal-trigger" %>
        <% else %>
            <p class="profile-username">
              @<%= user.username %>
            </p>
            <% if current_user.following? user.id %>
                <%= link_to 'unfollow', relationship_path(id: user.id), method: :delete,
                            title: "unfollow",
                            class: "btn halfway-fab waves-effect waves-light modal-trigger",
                            :data => {:confirm => 'Are you sure?'} %>
            <% else %>
                <%= link_to 'follow', relationships_path(following_id: user.id), method: :post,
                            class: "btn halfway-fab waves-effect waves-light modal-trigger" %>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>