<nav class="main-nav">
  <div class="nav-wrapper">
    <div class="container">
      <%= link_to image_tag('logo.svg', class:"logo"), root_path, class: "brand-logo center valign-wrapper" %>

      <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only">
        <i class="material-icons">menu</i>
      </a>

      <ul class="left hide-on-med-and-down">
        <li><%= link_to 'Home', root_path %></li>
      </ul>

      <ul class="side-nav center" id="nav-mobile">
        <!-- Dropdown Trigger -->
        <li class=""><%= gravatar_image_tag current_user.email, class: "avatar-nav circle" %></li>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Add New Tweet', new_tweet_path %></li>
        <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      </ul>

      <ul class="right hide-on-med-and-down">
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><%= gravatar_image_tag current_user.email, class: "avatar-nav circle" %><i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
      <form class="right search-form hide-on-med-and-down">
        <input type="text" name="search" placeholder="Search.." id="search">
      </form>
    </div>
  </div>
</nav>

<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><%= link_to 'Add New Tweet', new_tweet_path %></li>
  <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
  <li class="divider"></li>
  <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
</ul>