<div id="<%= tab_id %>" class="relationships">
  <% if users.count > 0 %>
    <div class="row">
      <% users.each do |user| %>
          <div class="col s12 m12 l6">
            <div class="card">
              <div class="card-image responsive-img">
                <img src="http://materializecss.com/images/office.jpg">
              </div>
              <%= link_to profile_path(id: user.id) do %>
                  <%= gravatar_image_tag user.email, class: "circle avatar float-avatar" %>
              <% end %>
              <div class="card-content">
                <% if current_user.following? user.id %>
                    <%= link_to 'following', relationship_path(id: user.id), method: :delete,
                                title: "unfollow",
                                class: "btn right btn-small" %>
                <% else %>
                    <%= link_to 'follow', relationships_path(following_id: user.id), method: :post, class: "btn right btn-small" %>
                <% end %>
                <%= link_to profile_path(id: user.id) do %>
                    <span class="card-title card-full-name"><%= user.full_name %></span>
                <% end %>
                <%= link_to profile_path(id: user.id) do %>
                    <span class="card-title card-username">@<%= user.username %></span>
                <% end %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  <% else %>
    <div class="empty-collection center">
      <% if tab_id == "following" %>
        <p>No following</p>
      <% else %>
        <p>No followers</p>
      <% end %>
    </div>
  <% end %>
</div>