<div id="<%= tab_id %>">
  <ul class="collection">
    <% tweets.each do |tweet| %>
        <li class="collection-item avatar">
          <div class="item-tweet">
            <%= gravatar_image_tag tweet.user.email, class: "circle" %>
            <span class="title"><%= tweet.user.full_name %></span>
            <span class="username">@<%= tweet.user.username %></span>

            <p><%= tweet.description %></p>
            <%= link_to "Delete", tweet_path(id: tweet.id), method: :delete, class: 'button' %>
            <p>
              <% if tweet.didilike? current_user.id %>
                  <%= link_to dislike_path_url(id: tweet.id), method: :delete, class: "secondary-content" do %>
                      <i class="material-icons">favorite</i>
                      <span class="count-likes center "><%= tweet.liked_users.count %></span>
                  <% end %>
              <% else %>
                  <%= link_to like_path_url(id: tweet.id), method: :put, class: "secondary-content" do %>
                      <i class="material-icons">favorite_border</i>
                      <span class="count-likes center"><%= tweet.liked_users.count %></span>
                  <% end %>
              <% end %>
            </p>
          </div>
        </li>
    <% end %>
  </ul>
</div>