<div class="row">
  <div class="col s2">
    <%= gravatar_image_tag @user.email, class: "circle" %>
    <p><%= @user.full_name %></p>
    <p>@<%= @user.username %></p>
  </div>
  <div class="col s10">
    <ul class="tabs">
      <li class="tab col s3"><a class="active" href="#tweets">Tweets (<%= @user.tweets.count %>)</a></li>
      <li class="tab col s3"><a href="#following">Following (<%= @user.following.count %>)</a></li>
      <li class="tab col s3"><a href="#followers">Followers (<%= @user.followers.count %>)</a></li>
      <li class="tab col s3"><a href="#likes">Likes (<%= @user.liked_tweets.count %>)</a></li>
    </ul>
    <div id="tweets" class="col s12">
      <ul>
        <% @user.tweets.each do |tweet| %>
            <li><%= tweet.description %></li>
        <% end %>
      </ul>
    </div>
    <div id="following" class="col s12">
      <ul>
        <% @user.following.each do |user| %>
            <li><%= user.full_name %></li>
        <% end %>
      </ul>
    </div>
    <div id="followers" class="col s12">
      <ul>
        <% @user.followers.each do |user| %>
            <li><%= user.full_name %></li>
        <% end %>
      </ul>
    </div>
    <div id="likes" class="col s12">
      <ul>
        <% @user.liked_tweets.each do |tweet| %>
            <li><%= tweet.description %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>