<div class="row">
  <%= render 'shared/info_user', user: @user %>
  <div class="col s12 m6">
    <div class="card card-twitter">
      <div class="card-content">

        <div class="card-tabs">
          <ul class="tabs center">
            <li class="tab">
              <a class="active" href="#tweets">Tweets <p class="text-center"><%= @user.tweets.count %></p></a>
            </li>
            <li class="tab">
              <a href="#following">Following <p class="text-center"><%= @user.following.count %></p></a></li>
            <li class="tab">
              <a href="#followers">Followers <p class="text-center"><%= @user.followers.count %></p></a></li>
            <li class="tab"><a href="#likes">Likes <p class="text-center"><%= @user.liked_tweets.count %></p></a>
            </li>
          </ul>
        </div>
        <div class="card-content tweets-card-content">
          <%= render 'shared/tweets', tweets: @user.tweets, tab_id: 'tweets'  %>
          <%= render 'shared/relationships', users: @user.following, tab_id: 'following' %>
          <%= render 'shared/relationships', users: @user.followers, tab_id: 'followers' %>
          <%= render 'shared/tweets', tweets: @user.liked_tweets, tab_id: 'likes'  %>
        </div>
      </div>

      <div style="display: none" class="card-action">
        <a href="#">Carregar mais</a>
      </div>
    </div>
  </div>
  <%= render 'shared/hashtags_cloud' %>
</div>